@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

body{
    display: flex;
    justify-content:center;
    height: 100vh;
}
.Boxcontainer{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(to bottom right,#fd6cb6, #87ceeb);
    margin-top: 80px;

}

.Logo{
    width: 180px;
    height: 118px;

}
.Boxwallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Francois One', sans-serif;

}
.BoxwalletSymnol{
    font-size: 50px;
    
}
.Boxpublickey{
    font-size: 30px;
    margin-top: 18px;
    color: white;
}
.Allbtn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 180px;
    height:50px;
}
.threebtn{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:1024px){
    .Boxcontainer{
        display: flex;
        flex-direction: column;
        width: 900px;
        height: 600px;
        justify-content:space-around;
        align-items: center;
        background: linear-gradient(to bottom right,#fd6cb6, #87ceeb);
        margin-top: 80px;
    
    }
    
    .Logo{
        width: 140px;
        height: 78px;
    
    }
    .Boxwallet{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Francois One', sans-serif;
    
    }
    .BoxwalletSymnol{
        font-size: 45px;
        
    }
    .Boxpublickey{
        font-size: 25px;
        margin-top: 18px;
        color: white;
    }
    .Allbtn{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width: 180px;
    
    }
    .threebtn{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 40px;
        justify-content: space-around;
        align-items: center;
    }
    }
    @media (max-width:768px){
        .Boxcontainer{
            display: flex;
            flex-direction: column;
            width: 700px;
            height: 600px;
            justify-content:space-around;
            align-items: center;
            background: linear-gradient(to bottom right,#fd6cb6, #87ceeb);
            margin-top: 80px;
        
        }
        
        .Logo{
            width: 140px;
            height: 78px;
        
        }
        .Boxwallet{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Francois One', sans-serif;
        
        }
        .BoxwalletSymnol{
            font-size: 40px;
            
        }
        .Boxpublickey{
            font-size: 20px;
            margin-top: 18px;
            color: white;
        }
        .Allbtn{
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            width: 150px;
        
        }
        .threebtn{
            display: flex;
            flex-direction: row;
            width: 500px;
            height: 40px;
            justify-content: space-around;
            align-items: center;
        }
        }

        @media (max-width:425px){
            .Boxcontainer{
                display: flex;
                flex-direction: column;
                width: 425px;
                height: 500px;
                justify-content:space-around;
                align-items: center;
                background: linear-gradient(to bottom right,#fd6cb6, #87ceeb);
                margin-top: 80px;
            
            }
            
            .Logo{
                width: 140px;
                height: 78px;
            
            }
            .Boxwallet{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Francois One', sans-serif;
            
            }
            .BoxwalletSymnol{
                font-size: 30px;
                
            }
            .Boxpublickey{
                font-size: 15px;
                margin-top: 18px;
                color: white;
            }
            .threebtn{
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 200px;
                justify-content: space-around;
                align-items: center;
            }
            .Allbtn{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                width: 300px;
            }
            }


    @media (max-width:375px){
            .Boxcontainer{
                display: flex;
                flex-direction: column;
                width: 375px;
                height: 400px;
                justify-content:space-around;
                align-items: center;
                background: linear-gradient(to bottom right,#fd6cb6, #87ceeb);
                margin-top: 80px;
            
            }
            
            .Logo{
                width: 100px;
                height: 48px;
            
            }
            .Boxwallet{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Francois One', sans-serif;
            
            }
            .BoxwalletSymnol{
                font-size: 30px;
                
            }
            .Boxpublickey{
                font-size: 13px;
                margin-top: 18px;
                color: white;
            }
            .threebtn{
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 150px;
                justify-content: space-around;
                align-items: center;
            }
            .Allbtn{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                width: 300px;
                height: 40px;
            }
            }

